node_modules/
dist/
.next
.next-node-middleware
edge-runtime/vendor
# html-rewriter-wasm.ts is generated at plugin build time with base64-encoded WASM
edge-runtime/html-rewriter-wasm.ts
# deno.json is ephemeral and generated for the purpose of vendoring remote modules in CI
tools/deno/deno.json
tools/deno/vendor

# Local Netlify folder
.netlify

/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

deno.lock
.eslintcache
.DS_Store
tests/**/package-lock.json
tests/**/pnpm-lock.yaml
tests/**/yarn.lock
tests/**/out/
