[build]
command = "next build"
publish = ".next"

[build.environment]
# Use Node 18 for build - required for Netlify build plugins
NODE_VERSION = "18"

[[plugins]]
package = "@netlify/plugin-nextjs"

# This is a fake plugin, that makes it run npm install
[[plugins]]
package = "@netlify/plugin-local-install-core"

[[plugins]]
package = "../plugin-wrapper"
