name: Deno test
on:
  pull_request:
    branches: [main]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: 'Install Node'
        uses: actions/setup-node@v6
        with:
          node-version: '20.x'
          cache: 'npm'
          cache-dependency-path: '**/package-lock.json'

      - name: Setup Deno
        uses: denoland/setup-deno@v1
        with:
          deno-version: 2.6.8

      - name: 'Install dependencies'
        run: npm ci

      - name: Vendor Deno modules
        run: deno --allow-import --vendor edge-runtime/vendor.ts

      - name: Test
        run: deno test -A edge-runtime/
