name: release-please
on:
  push:
    branches:
      - v4

permissions:
  contents: write
  pull-requests: write
  issues: write
  id-token: write
jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@v4
        id: release
        with:
          target-branch: v4
      - uses: actions/checkout@v6
        if: ${{ steps.release.outputs.releases_created }}
      - uses: actions/setup-node@v6
        with:
          node-version: "18"
          cache: "npm"
          check-latest: true
          registry-url: "https://registry.npmjs.org"
        if: ${{ steps.release.outputs.releases_created }}
      - uses: denoland/setup-deno@v1
        with:
          deno-version: v1.x
        if: ${{ steps.release.outputs.releases_created }}
      - name: Install dependencies
        run: CI=1 npm ci
        if: ${{ steps.release.outputs.releases_created }}
      - run: npm publish packages/runtime/ --provenance --tag v4
        if: ${{ steps.release.outputs['packages/runtime--version'] }}
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
      - run: npm publish packages/next/ --provenance
        # the packages/next is not next-runtime, it's @netlify/next which is enhanced middleware
        # so we don't specify a non-latest tag because this package is no longer developed in the v5 line / main branch
        if: ${{ steps.release.outputs['packages/next--version'] }}
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
